{{> adminNavP}}
		<div class="container">
			<div class="row justify-content-center my-3">
				<h2>Lịch sử hoạt động</h2>
			</div>

			<!-- Lịch sử chuyển trạng thái -->
			<div class="row mb-3">
				<h3>Lịch sử chuyển trạng thái</h3>
			</div>
			<div class="row justify-content-center">
				<div class="table-responsive" style="max-height: 250px">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">STT</th>
								<th scope="col">Tên bệnh nhân</th>
								<th scope="col">Từ trạng thái</th>
								<th scope="col">Chuyển sang</th>
								<th scope="col">Ngày chuyển</th>
							</tr>
						</thead>
						<tbody>
							{{#each statusChangeHistory}}
							<tr>
								<td>{{@index}}</td>
								<td>{{this.patientName}}</td>
								<td>{{this.statusFrom}}</td>
								
								{{#ifEqual this.statusTo -1}}
								<td>Khỏi bệnh</td>
								{{/ifEqual}} {{#ifNotEqual this.statusTo -1}}
								<td>F{{this.statusTo}}</td>
								{{/ifNotEqual}}
								<td>{{this.date}}</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>

			<!-- Lịch sử chuyển nơi điều trị -->
			<div class="row mb-3">
				<h3>Lịch sử chuyển nơi điều trị</h3>
			</div>
			<div class="row justify-content-center">
				<div class="table-responsive" style="max-height: 250px">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">STT</th>
								<th scope="col">Tên bệnh nhân</th>
								<th scope="col">Chuyển cơ sở từ</th>
								<th scope="col">Đến</th>
								<th scope="col">Ngày chuyển</th>
							</tr>
						</thead>
						<tbody>
							{{#each facilityChangeHistory}}
							<tr>
								<td>{{@index}}</td>
								<td>{{this.patientName}}</td>
								<td>{{this.fromFacility}}</td>
								<td>{{this.toFacility}}</td>
								<td>{{this.date}}</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>

			<!-- Lịch sử chỉnh sửa sản phẩm -->
			<div class="row mb-3">
				<h3>Lịch sử chỉnh sửa sản phẩm</h3>
			</div>
			<div class="row justify-content-center">
				<div class="table-responsive" style="max-height: 250px">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">STT</th>
								<th scope="col">Tên sản phẩm</th>
								<th scope="col">Ngày chỉnh sửa</th>
							</tr>
						</thead>
						<tbody>
							{{#each productChangeHistory}}
							<tr>
								<td>{{@index}}</td>
								<td>{{this.productName}}</td>
								<td>{{this.date}}</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
			<!-- Lịch sử chỉnh sửa gói sản phẩm -->
			<div class="row mb-3">
				<h3>Lịch sử chỉnh sửa gói sản phẩm</h3>
			</div>
			<div class="row justify-content-center">
				<div class="table-responsive" style="max-height: 250px">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">STT</th>
								<th scope="col">Tên gói</th>
								<th scope="col">Ngày chỉnh sửa</th>
							</tr>
						</thead>
						<tbody>
							{{#each packageChangeHistory}}
							<tr>
								<td>{{@index}}</td>
								<td>{{this.packageName}}</td>
								<td>{{this.date}}</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>