{{> adminNavP}}
		<div class="container">
			<div class="row justify-content-center mt-3">
				<h1 class>Cơ sở điều trị</h1>
			</div>
			<div class="row">
				<div class="col-4 my-2">
					<a href="/facilities/create">
						<button type="button" class="btn btn-success">
							+ Thêm cơ sở điều trị
						</button>
					</a>
				</div>
			</div>

			<div class="table-responsive" style="max-height: 250px">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Tên cơ sở</th>
							<th scope="col">Sức chứa</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						{{#each facilities}}
						<tr>
							<td>{{name}}</td>
							<td>{{capacity}}</td>
							<td class="text-center">
								<a href="/facilities/edit/{{facility_id}}">
									<button type="button" class="btn btn-warning">
										Chỉnh sửa
									</button>
								</a>
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>

			<!-- Danh sách tài khoản -->
			<div class="container">
				<div class="row justify-content-center mb-3">
					<h1 class>Danh sách tài khoản</h1>
				</div>

				<div class="table-responsive" style="max-height: 250px">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Tên tài khoản</th>
								<th scope="col">Phân quyền</th>
								<th scope="col">Bị khóa</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							{{#each managers}}
							<tr>
								<td>{{username}}</td>
								<td>Manager</td>
								<td>{{#if locked}}Locked{{else}}-{{/if}}</td>
								<td class="text-center">
									<a href="managers/{{username}}/accountHistory">
										<button type="button" class="btn btn-info">
											Lịch sử hoạt động
										</button>
									</a>
								</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
