{{> manageNavP}}
		<div class="container">
			<form>
				<div class="row justify-content-center">
					<h2>Điều chỉnh gói nhu yếu phẩm</h2>
				</div>

				<div class="row form-group">
					<div class="col-3"></div>					
					<label for="name" class="col-sm-2 col-form-label">
						<h6>Tên gói:</h6>
					</label>
					<div class="col-sm-3">
						<input id="name" value="{{this.name}}"/>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-3"></div>					
					<label for="productId" class="col-sm-2 col-form-label">
						<h6>Sản phẩm:</h6>
					</label>
					<div class="col-sm-3">
						<input id="productId" value="{{this.productId}}"/>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-3"></div>					
					<label for="quantity" class="col-sm-2 col-form-label">
						<h6>Mức giới hạn số lượng sản phẩm trong gói:</h6>
					</label>
					<div class="col-sm-3">
						<input id="quantity" value="{{this.quantity}}"/>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-3"></div>					
					<label for="limit_per_person" class="col-sm-2 col-form-label">
						<h6>Mức giới hạn gói cho người sử dụng theo thời gian:</h6>
					</label>
					<div class="col-sm-3">
						<input id="limit_per_person" value="{{this.limit_per_person}}"/>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-3"></div>					
					<label for="time_limit" class="col-sm-2 col-form-label">
						<h6>Thời gian giới hạn:</h6>
					</label>
					<div class="col-sm-3">
						<input id="time_limit" value="{{this.time_limit}}"/>
					</div>
				</div>
		

				<div class="row justify-content-center">
					<button class="btn btn-primary" id="submitBtn" type="submit">Lưu thay đổi</button>
				</div>
			</form>
		</div>

	<h1 id="productPackageId" style="display: none">{{product_package_id}}</h1>
	<script src="js/productPackages/editProductPackageScript.js"></script>