{{> patientNavP}}
	<div class="container">
			<div class="row">
				<div class="col-8">
                    <div>
					<form class="form-inline my-2" action="/productPackages" method="get">
						<input
							class="form-control mr-sm-2 w-75"
							type="search"
                            name="s"
							placeholder="Tìm kiếm gói nhu yếu phẩm"
							aria-label="Search"
						/>
                        <input name="min" value="{{minS}}" hidden>
                        <input name="max" value="{{maxS}}" hidden>
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
							Tìm kiếm
						</button>
					</form>
                    </div>
                    <div class='nav-item dropdown'>
                        <a
                            class='nav-link dropdown-toggle'
                            href='#'
                            id='navbarDropdownMenuLink'
                            data-toggle='dropdown'
                            aria-haspopup='true'
                            aria-expanded='false'
                        >
                            Sắp xếp
                        </a>
                        <div class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink'>
                            <a class='dropdown-item' href='/productPackages?sort=quantity&by=asc{{s}}{{min}}{{max}}'>Số nhu yếu phẩm trong gói tăng</a>
                            <a class='dropdown-item' href='/productPackages?sort=quantity&by=desc{{s}}{{min}}{{max}}'>Số nhu yếu phẩm trong gói Giảm</a>
                            <a class='dropdown-item' href='/productPackages?sort=name&by=asc{{s}}{{min}}{{max}}'>Tên (a-z)</a>
                            <a class='dropdown-item' href='/productPackages?sort=name&by=desc{{s}}{{min}}{{max}}'>Tên (z-a)</a>
                        </div>
                    </div>
                    <div class='nav-item dropdown'>
                        <a
                            class='nav-link dropdown-toggle'
                            href='#'
                            id='navbarDropdownMenuLink'
                            data-toggle='dropdown'
                            aria-haspopup='true'
                            aria-expanded='false'
                        >
                            Lọc
                        </a>
                        <form class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink'>
                            <input name="s" value="{{search}}" hidden>
                            <label>Số sản phẩm trong gói ít nhât</label><br>
                            <input name="min"><br>
                            <label>Số sản phẩm trong gó nhiều nhất</label><br>
                            <input name="max"><br>
                            <button type="submit">Áp dụng</button>
                        </form>
                    </div>
				</div>
			</div>
            {{#if doNotList}}
            <div class="row">
                <div class="col text-center">
                    <h1>Không tìm thấy gói nhu yếu phẩm</h1>
                </div>
            </div>
            {{else}}
            <div class="row">
                {{#each listProductPackage}}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <a href="/productPackages/detail/{{productpackage_id}}">
                                <h5 class="card-title">{{name}}</h5>
                            </a>
                            <p class="card-text">{{quantity}} nhu yếu phẩm</p>
                            <p class="card-text">Giới hạn {{limit_per_person}} gói cho mỗi người trong thời gian {{time_limit}} ngày</p>
                            <a href="/productPackages/detail/{{productpackage_id}}" class="btn btn-primary">chi tiết</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="row py-2">
                <div class="col-md text-center">
                <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                    <a class="page-link" href="/productPackages?perPage={{perPage}}{{s}}{{min}}{{max}}{{sort}}{{by}}">&laquo;</a>
                    </li>
                    {{#if hasPrevPage}}<li class="page-item"><a class="page-link" href="/productPackages?perPage={{perPage}}&page={{prevPage}}{{s}}{{min}}{{max}}{{sort}}{{by}}">{{prevPage}}</a></li>{{/if}}
                    <li class="page-item disabled active"><a class="page-link bg-primary" href="">{{curPage}}</a></li>
                    {{#if hasNextPage}}<li class="page-item"><a class="page-link" href="/productPackages?perPage={{perPage}}&page={{nextPage}}{{s}}{{min}}{{max}}{{sort}}{{by}}">{{nextPage}}</a></li>{{/if}}
                    <li class="page-item">
                    <a class="page-link" href="/productPackages?perPage={{perPage}}&page={{lastPage}}{{s}}{{min}}{{max}}{{sort}}{{by}}">&raquo;</a>
                    </li>
                </ul>
                </nav>
                </div>
            </div>
            {{/if}}
		</div>
