{{> manageNavP}}
	<div class="container">
            {{#if doNot}}
            <div class="row">
                <div class="col text-center">
                    <h1>Không tìm thấy gói sản phẩm</h1>
                </div>
            </div>
            {{else}}
            <div class="row">
                <div class="col-md">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Tên gói</th>
                                        <th scope="col">Tổng giá</th>
                                        <th scope="col" class="text-center">Giới hạn cho mỗi người</th>
                                        <th scope="col" class="text-center">Thời gian sử dụng</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="col">{{productPackage.ProductPackage_ID}}</th>
                                        <th scope="col">{{productPackage.Name}}</th>
                                        <th scope="col" class="text-center">{{productPackage.PriceTotal}}</th>
                                        <th scope="col" class="text-center">{{productPackage.Limit_For_One_Person}}</th>
                                        <th scope="col" class="text-center">{{productPackage.Limit_Time}}</th>
                                        <th scope="col"><a href="/productPackages/edit/{{productPackage.ProductPackage_ID}}"><button class="btn btn-warning">Chỉnh sửa</button></a></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col text-center">
                    <h1>Danh sách nhu yếu phẩm trong gói</h1>
                </div>
            </div>
            <div class="row py-2">
                {{#each listProduct}}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <a href="/products/detail/{{Product_ID}}">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                <img class="d-block w-100" src="{{Images}}" alt="First slide">
                                </div>
                                {{#each Images}}
                                <div class="carousel-item">
                                <img class="d-block w-100" src="{{this}}">
                                </div>
                                {{/each}}
                            </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{Name}}</h5>
                            <p class="card-text">{{Price}}vnđ</p>
                            <p class="card-text">{{Quantitative}}</p>
                            <a href="#" class="btn btn-primary">x{{Quantity}}</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/if}}
		</div>
