{{> manageNavP}}
		<div class="container">
			<form action="/patients/create" method="post">
				<div class="row justify-content-center my-3">
					<h2>Thêm bệnh nhân</h2>
				</div>

				<div class="row form-group">
					<div class="col-3"></div>
					<label for="name" class="col-sm-2 col-form-label"
						><h6>Họ tên:</h6>
					</label>
					<div class="col-sm-3">
						<input
							class="form-control"
							id="inputName"
							name="name"
							placeholder="Họ và tên"
						/>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-3"></div>
					<label for="citizenID" class="col-sm-2 col-form-label"
						><h6>CMND:</h6>
					</label>
					<div class="col-sm-3">
						<input
							class="form-control"
							id="inputCitizenID"
							name="citizenID"
							placeholder="CMND"
						/>
							<div class='form-group'><small
							id='citizenIdExistedAlert'
							class='form-text text-danger'
						>Citizen id is existed!</small></div>
					</div>
				
				</div>
				
					
					

				

				<div class="row form-group">
					<div class="col-3"></div>
					<label for="dob" class="col-sm-2 col-form-label"
						><h6>Ngày sinh:</h6>
					</label>
					<div class="col-sm-3">
						<input type="date" class="form-control" id="inputDOB" name="dob" />
					</div>
				</div>

				<div class="row form-group">
					<div class="col-3"></div>
					<label for="address" class="col-sm-2 col-form-label"
						><h6>Địa chỉ:</h6>
					</label>
					<div class="col-sm-2">
						<select class="form-control" id="province" name="province">
							
							<option value="" disabled selected>Tỉnh/thành phố</option>
							{{#each provinces}}
							<option value="{{this.provinceId}}">{{this.provinceName}}</option>
							{{/each}}
						</select>
					</div>
					<div class="col-sm-2">
						<select class="form-control" id="district" name="district">
							<option value="" disabled selected>Quận/huyện</option>
					
							
						</select>
					</div>
					<div class="col-sm-2">
						<select class="form-control" id="ward" name="ward">
							<option value="" disabled selected>Phường/xã</option>
							
						</select>
					</div>
					
				</div>

				<div class="row form-group">
					<div class="col-3"></div>
					<label for="status" class="col-sm-2 col-form-label"
						><h6>Trạng thái:</h6>
					</label>
					<div class="col-sm-3">
						<select class="form-control" id="status" name="status">
							<option value="0">F0</option>
							<option value="1">F1</option>
							<option value="2">F2</option>
							<option value="3">F3</option>
						</select>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-3"></div>
					<label for="facility" class="col-sm-2 col-form-label"
						><h6>Cơ sở điều trị:</h6></label
					>
					<div class="col-sm-3">
						<select name="facility" id="facility" class="form-control">
							{{#each facilities}}
								{{#ifLessThan this.current_amount this.capacity}}
									<option value="{{this.facility_id}}">{{this.name}}</option>
								{{/ifLessThan}}
							{{/each}}
						</select>
					</div>
				</div>

				<div class="row">
					<h3>Thêm người liên đới</h3>
				</div>

				<div class="row justify-content-center">
					<table class="table w-50">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Họ tên</th>
								<th scope="col">Trạng thái</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							{{#each patients}}
							<tr>
								<th scope="row">{{this.patientId}}</th>
								<td>{{this.patientName}}</td>
								{{#ifEqual this.patientStatus -1}}
									<td>Khỏi bệnh</td>
								{{/ifEqual}}
								{{#ifNotEqual this.patientStatus -1}}
									<td>F{{this.patientStatus}}</td>
								{{/ifNotEqual}}
								

								<td class="text-center">
									<input
										type="checkbox"
										name="relatedPersons"
										value="{{this.patientId}}"
										class="form-check-input"
									/>
								</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
				<div class="row justify-content-center">
					<button id="submitButton" class="btn btn-primary" type="submit">Thêm bệnh nhân</button>
				</div>
			</form>
		</div>

	<script>
		var patientList={{{patientList}}}
	</script>
	<script src="/js/patients/addPatientScript.js"></script>