{{> manageNavP}}
		<div class="container">
			<form>
				<div class="row justify-content-center">
					<h2>Điều chỉnh trạng thái</h2>
				</div>

				<div class="row mt-3">
					<div class="col-4"></div>
					<div class="col-2">
						<h6>Họ tên:</h6>
						<h6>CMND:</h6>
						<h6>Năm sinh:</h6>
						<h6>Địa chỉ:</h6>
					</div>
					<div class="col-4">
						<h6>{{patientName}}</h6>
						<h6>{{patientCitizenId}}</h6>
						<h6>{{patientBirthday}}</h6>
						<h6>An Hòa, Bảo Lộc, Lâm Đồng</h6>
					</div>
					<div class="col-3"></div>
				</div>

				<div class="row form-group">
					<div class="col-4"></div>
					<label for="status" class="col-sm-2 col-form-label"
						><h6>Trạng thái:</h6>
					</label>
					<div class="col-sm-3">
						<select class="form-control" id="status" name="status">
							<option value="0" {{#ifEqual patientStatus 0}}selected{{/ifEqual}}>F0</option>
							<option value="1" {{#ifEqual patientStatus 1}}selected{{/ifEqual}}>F1</option>
							<option value="2" {{#ifEqual patientStatus 2}}selected{{/ifEqual}}>F2</option>
							<option value="3" {{#ifEqual patientStatus 3}}selected{{/ifEqual}}>F3</option>
							<option value="-1" {{#ifEqual patientStatus -1}}selected{{/ifEqual}}>Khỏi bệnh</option>
						</select>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-4"></div>
					<label for="facility" class="col-sm-2 col-form-label"
						><h6>Cơ sở điều trị:</h6></label
					>
					<div class="col-sm-3">
						<select name="facility" id="facility" class="form-control">
							{{#each facilities}}
							<option value="{{this.facility_id}}" {{#ifEqual this.facility_id ../facilityId}}selected{{/ifEqual}} {{#ifEqual this.capability this.current_amount}}disabled{{/ifEqual}}>{{this.name}}</option>
							{{/each}}
						</select>
					</div>
				</div>

				<div class="row justify-content-center">
					<button class="btn btn-primary" id="submitBtn" type="submit">Lưu thay đổi</button>
				</div>
			</form>
		</div>

	<h1 id="patientId" style="display: none">{{patientId}}</h1>
	<script src="/js/patients/editPatientScript.js"></script>