{{> manageNavP}}

	<div class="container">
			<div class="row">
				<div class="col-8">
					<form class="form-inline my-2" method="get" action="/patients">
						<input
							class="form-control mr-sm-2 w-75"
							type="search"
							name="keyword"
							placeholder="Tìm kiếm bệnh nhân"
							aria-label="Search"
							{{#if keyword}}
							value="{{keyword}}"
							{{/if}}
						/>
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
							Tìm kiếm
						</button>
					</form>
				</div>
				<div class="col-4 text-center my-2">
					<a href="/patients/create">
						<button type="button" class="btn btn-success">
							+ Thêm bệnh nhân
						</button>
					</a>
				</div>
			</div>
			<div class="btn-group mb-2">
				<button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Sắp xếp
				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/patients?sortby=patientName&order=asc&keyword={{keyword}}">Họ tên: A-Z</a>
					<a class="dropdown-item" href="/patients?sortby=patientName&order=desc&keyword={{keyword}}">Họ tên: Z-A</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/patients?sortby=patientStatus&order=asc&keyword={{keyword}}">Trạng thái: Nhỏ đến lớn</a>
					<a class="dropdown-item" href="/patients?sortby=patientStatus&order=desc&keyword={{keyword}}">Trạng thái: Lớn đến nhỏ</a>
				</div>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Họ tên</th>
						<th scope="col">Trạng thái</th>
						<th scope="col">Nơi đang điều trị</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{{#each patients}}
					<tr>
						<th scope="row">{{this.patientId}}</th>
						<td>{{this.patientName}}</td>
						<td>{{statusConvert this.patientStatus}}</td>
						<td>{{this.facilityName}}</td>
						<td class="text-center">
							<a href="/patients/detail/{{this.patientId}}">
							<button  type="button" class="btn btn-primary">Chi tiết</button>
							</a>
						</td>
						<td class="text-center">
							<a href="/patients/edit/{{this.patientId}}">
								<button type="button" class="btn btn-warning">Chỉnh sửa</button>
							</a>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			<p style="text-align: center; display: {{#if patients}}none{{else}}block{{/if}};">Không có bệnh nhân nào trong hệ thống</p>

		</div>
