{{> manageNavP}}

		<div class="container">
			<form action="/statistic/statusChange" method="get">
				<div class="row justify-content-center mt-3">
					<h1>Thống kê chuyển trạng thái</h1>
				</div>
				<div class="row form-group my-2">
					<label for="inputFromDate" class="col-sm-1 col-form-label">Từ:</label>
					<div class="col-sm-3">
						<input
							type="date"
							class="form-control"
							name="inputFromDate"
							{{#if dateFrom}}value="{{dateFrom}}"{{/if}}
						/>
					</div>
				</div>
				<div class="row form-group my-2">
					<label for="inputToDate" class="col-sm-1 col-form-label">Đến:</label>
					<div class="col-sm-3">
						<input
							type="date"
							class="form-control"
							name="inputToDate"
							{{#if dateTo}}value="{{dateTo}}"{{/if}}
						/>
					</div>
				</div>
				<div class="row form-group justify-content-between">
					<div class="col-3">
						<button type="submit" class="btn btn-success">♻ Làm mới</button>
					</div>
					<div class="col-3">
						<p>Số chuyển trạng thái: {{totalChanged}}</p>
						<p>Số khỏi bệnh: {{totalCured}}</p>
					</div>
				</div>
			</form>

			<div class="row justify-content-center my-5">
				<table class="table w-75">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Tên bệnh nhân</th>
							<th scope="col">Từ trạng thái</th>
							<th scope="col">Chuyển sang</th>
							<th scope="col">Ngày chuyển</th>
						</tr>
					</thead>
					<tbody>
						{{#each changedList}}
						<tr>
							<th scope="row">{{this.patientId}}</th>
							<td>{{this.patientName}}</td>
							<td>F{{this.statusFrom}}</td>
							{{#ifEqual this.statusTo -1}}
								<td>Khỏi bệnh</td>
							{{/ifEqual}}
							{{#ifNotEqual this.statusTo -1}}
								<td>F{{this.statusTo}}</td>
							{{/ifNotEqual}}
							<td>{{this.date}}</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
				{{#ifEqual changedList.length 0}}<p>Không có dữ liệu thống kê trong thời gian này</p>{{/ifEqual}}
			</div>
		</div>