{{> manageNavP}}
	<div class="container">
			<div class="row">
				<div class="col-8">
                    <div>
					<form class="form-inline my-2" action="/products" method="get">
						<input
							class="form-control mr-sm-2 w-75"
							type="search"
                            name="s"
							placeholder="Tìm kiếm nhu yếu phẩm"
							aria-label="Search"
						/>
                        <input name="min" value="{{minS}}" hidden>
                        <input name="max" value="{{maxS}}" hidden>
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
							Tìm kiếm
						</button>
					</form>
                    </div>
                    <div class='nav-item dropdown'>
                        <a
                            class='nav-link dropdown-toggle'
                            href='#'
                            id='navbarDropdownMenuLink'
                            data-toggle='dropdown'
                            aria-haspopup='true'
                            aria-expanded='false'
                        >
                            Sắp xếp
                        </a>
                        <div class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink'>
                            <a class='dropdown-item' href='/products?sort=price&by=asc{{s}}{{min}}{{max}}'>Giá tăng</a>
                            <a class='dropdown-item' href='/products?sort=price&by=desc{{s}}{{min}}{{max}}'>Giá Giảm</a>
                            <a class='dropdown-item' href='/products?sort=name&by=asc{{s}}{{min}}{{max}}'>Tên (a-z)</a>
                            <a class='dropdown-item' href='/products?sort=name&by=desc{{s}}{{min}}{{max}}'>Tên (z-a)</a>
                        </div>
                    </div>
                    <div class='nav-item dropdown'>
                        <a
                            class='nav-link dropdown-toggle'
                            href='#'
                            id='navbarDropdownMenuLink'
                            data-toggle='dropdown'
                            aria-haspopup='true'
                            aria-expanded='false'
                        >
                            Lọc
                        </a>
                        <form class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink'>
                            <input name="s" value="{{search}}" hidden>
                            <label>Giá thấp nhất</label><br>
                            <input name="min"><br>
                            <label>Giá cao nhất</label><br>
                            <input name="max"><br>
                            <button type="submit">Áp dụng</button>
                        </form>
                    </div>
				</div>
				<div class="col-4 text-center my-2">
					<button type="button" class="btn btn-success">
						+ Thêm nhu yếu phẩm
					</button>
				</div>
			</div>
            {{#if doNotList}}
            <div class="row">
                <div class="col text-center">
                    <h1>Không tìm thấy nhu yếu phẩm</h1>
                </div>
            </div>
            {{else}}
            <div class="row">
                <div class="col-md">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Tên sản phẩm</th>
                                        <th scope="col">Hình ảnh</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col">Định lượng</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each listProduct}}
                                    <tr>
                                        <th scope="col">{{product_id}}</th>
                                        <th scope="col">{{name}}</th>
                                        <th scope="col">
                                            <div class="row">
                                                {{#each images}}
                                                <div class="col">
                                                    <img src={{url}} class="w10"/>
                                                </div>
                                                {{/each}}
                                            </div>
                                        </th>
                                        <th scope="col">{{price}}</th>
                                        <th scope="col">{{unit}}</th>
                                        <th scope="col"><a href="/products/detail/{{product_id}}"><button class="btn btn-primary">Chi tiết</button></a></th>
                                        <th scope="col"><a href="/products/edit/{{product_id}}"><button class="btn btn-warning">Chỉnh sửa</button></a></th>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row py-2">
                <div class="col-md text-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                            <a class="page-link" href="/products?perPage={{perPage}}{{s}}{{min}}{{max}}{{sort}}{{by}}">&laquo;</a>
                            </li>
                            {{#if hasPrevPage}}<li class="page-item"><a class="page-link" href="/products?perPage={{perPage}}&page={{prevPage}}{{s}}{{min}}{{max}}{{sort}}{{by}}">{{prevPage}}</a></li>{{/if}}
                            <li class="page-item disabled active"><a class="page-link bg-primary" href="">{{curPage}}</a></li>
                            {{#if hasNextPage}}<li class="page-item"><a class="page-link" href="/products?perPage={{perPage}}&page={{nextPage}}{{s}}{{min}}{{max}}{{sort}}{{by}}">{{nextPage}}</a></li>{{/if}}
                            <li class="page-item">
                            <a class="page-link" href="/products?perPage={{perPage}}&page={{lastPage}}{{s}}{{min}}{{max}}{{sort}}{{by}}">&raquo;</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            {{/if}}
		</div>
