{{> manageNavP}}
	<div class="container">
			<div class="row">
				<div class="col-8">
                    <div>
					<form class="form-inline my-2" action="/products" method="get">
						<input
							class="form-control mr-sm-2 w-75"
							type="search"
                            name="s"
							placeholder="Tìm kiếm nhu yếu phẩm"
							aria-label="Search"
						/>
                        <input name="min" value="{{minS}}" hidden>
                        <input name="max" value="{{maxS}}" hidden>
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
							Tìm kiếm
						</button>
					</form>
                    </div>
                    <div class='nav-item dropdown'>
                        <a
                            class='nav-link dropdown-toggle'
                            href='#'
                            id='navbarDropdownMenuLink'
                            data-toggle='dropdown'
                            aria-haspopup='true'
                            aria-expanded='false'
                        >
                            Sắp xếp
                        </a>
                        <div class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink'>
                            <a class='dropdown-item' href='/products?sort=price&by=asc{{s}}{{min}}{{max}}'>Giá tăng</a>
                            <a class='dropdown-item' href='/products?sort=price&by=desc{{s}}{{min}}{{max}}'>Giá Giảm</a>
                            <a class='dropdown-item' href='/products?sort=name&by=asc{{s}}{{min}}{{max}}'>Tên (a-z)</a>
                            <a class='dropdown-item' href='/products?sort=name&by=desc{{s}}{{min}}{{max}}'>Tên (z-a)</a>
                        </div>
                    </div>
                    <div class='nav-item dropdown'>
                        <a
                            class='nav-link dropdown-toggle'
                            href='#'
                            id='navbarDropdownMenuLink'
                            data-toggle='dropdown'
                            aria-haspopup='true'
                            aria-expanded='false'
                        >
                            Lọc
                        </a>
                        <form class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink'>
                            <input name="s" value="{{search}}" hidden>
                            <label>Giá thấp nhất</label><br>
                            <input name="min"><br>
                            <label>Giá cao nhất</label><br>
                            <input name="max"><br>
                            <button type="submit">Áp dụng</button>
                        </form>
                    </div>
				</div>
				<div class="col-4 text-center my-2">
                    <a href="/products/create">
                        <button type="button" class="btn btn-success">
                            + Thêm nhu yếu phẩm
                        </button>
                    </a>
				</div>
			</div>
            {{#if doNotList}}
            <div class="row">
                <div class="col text-center">
                    <h1>Không tìm thấy nhu yếu phẩm</h1>
                </div>
            </div>
            {{else}}
            <div class="row">
                {{#each listProduct}}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="container">
                            <div class="row">
                                <img class="d-block w-100" src="{{image.url}}" id="img{{product_id}}" onmouseenter="setImage(this)"> 
                            </div>
                            <div class="row py-2">
                                    {{#each images}}
                                    <div class="col">
                                    <img class="d-block w10" src="{{url}}" onmouseenter="setImage(this)" name="{{product_id}}">
                                    </div>
                                    {{/each}}
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <p class="card-text">{{price}}vnđ</p>
                            <p class="card-text">{{unit}}</p>
                            <th class="card-text"><a href="/products/detail/{{product_id}}"><button type="button" class="btn btn-primary">Chi tiết</button></a></th>
                            <th class="card-text"><a href="/products/edit/{{product_id}}"><button type="button" class="btn btn-warning">Chỉnh sửa</button></a></th>
                            <th class="card-text"><a href="/products/delete/{{product_id}}"><button class="btn btn-warning" type="submit">Xoá</button></a></th>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="row py-2">
                <div class="col-md text-center">
                <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                    <a class="page-link" href="/products?perPage={{perPage}}{{s}}{{min}}{{max}}{{sort}}{{by}}">&laquo;</a>
                    </li>
                    {{#if hasPrevPage}}<li class="page-item"><a class="page-link" href="/products?perPage={{perPage}}&page={{prevPage}}{{s}}{{min}}{{max}}{{sort}}{{by}}">{{prevPage}}</a></li>{{/if}}
                    <li class="page-item disabled active"><a class="page-link bg-primary" href="">{{curPage}}</a></li>
                    {{#if hasNextPage}}<li class="page-item"><a class="page-link" href="/products?perPage={{perPage}}&page={{nextPage}}{{s}}{{min}}{{max}}{{sort}}{{by}}">{{nextPage}}</a></li>{{/if}}
                    <li class="page-item">
                    <a class="page-link" href="/products?perPage={{perPage}}&page={{lastPage}}{{s}}{{min}}{{max}}{{sort}}{{by}}">&raquo;</a>
                    </li>
                </ul>
                </nav>
                </div>
            </div>
            {{/if}}
		</div>

<script src='/js/product/script.js'></script>
